body {
    padding: var(--padding-body);
    background-color: var(--color-light-alt);
    font-weight: 400;
    line-height: normal;
    font-family: var(--font-family-base);
    color: var(--color-dark);
}

a,
button,
input,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2 {
    font-weight: 700;
}